<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="nav-extended">
    <div class="nav-wrapper" style="background-color: #075e55;">
      <a href="#" style="margin-left: -32%; font-size: 1.5em;" class="brand-logo">WhatsApp</a>
    </div>
    <div style="background-color:#075e55;" class="nav-content">
      <ul id="tabs-swipe-demo" class="tabs tabs-transparent">
        <li style="background-color: #075e55;" class="tab"><a href="#test1"><span
              style="margin-left: -30%; margin-top: 30%;" class="material-icons">camera_alt</span></a></li>
        <li style="background-color: #075e55;" class="tab"><a class="active" href="#test2">CONVERSAS</a></li>
        <li style="background-color: #075e55;" class="tab"><a href="#test3">STATUS</a></li>
        <li style="background-color: #075e55;" class="tab"><a href="#test4">CHAMADAS</a></li>
      </ul>
    </div>
  </nav>


  <div id="test1" class="col s12">Test 1</div>

  <div id="test2" class="col s12">
    <ul class="collection">
      <%for (var i = 0; i < data.contato.length; i++) {%>
      <li class="collection-item avatar">
        <img src="<%= data.contato[i].imagem%>" alt="" class="circle">
        <span class="title"><%=data.contato[i].titulo%></span>
        <p><%=data.contato[i].conversa%></p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <%}%>
    </ul>
  </div>

  <div id="test3" class="col s12">Test 3</div>

  <div id="test4" class="col s12">Test 4</div>


</body>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./js/materialize.js"></script>
<script src="./js/init.js"></script>
<script>
  $(document).ready(function () {
    $('.tabs').tabs();
    $('#tabs-swipe-demo').tabs({ 'swipeable': true })
  });
</script>

</html>